*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    background-color: hsl(210, 46%, 95%);
    width: 80%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    font: 13px;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 13px;
}

.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px; 
}

.face-icon{
    float: left;
    height: 30px;
    border-radius: 50%;
}

h4{
    margin-left: 40px;
    margin-bottom: 20px;
    color: white
}

.third-card h4 , .fifth-card h4{
    color: hsl(217, 19%, 35%);
}

span{
    color: hsl(0, 0%, 81%);
}

.first-card{
    grid-column: span 2;
    padding: 30px;
    background-color: hsl(263, 55%, 52%);
    border-radius: 3%;
    position: relative;  
}

.first-card .quote{
    position: absolute;
    top: 1px;
    right: 50px;
    opacity: 0.3;
}

.second-card{
    padding: 30px;
    background-color: hsl(217, 19%, 35%);
    border-radius: 3%;
}

.third-card{
    grid-area: 2/1;
    padding: 30px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 3%;
}

.fourth-card{
    grid-area: 2/2;
    grid-column: span 2;
    padding: 30px;
    background-color:hsl(219, 29%, 14%);
    border-radius: 3%;
}

.fifth-card{
    grid-area: 1/4;
    grid-row: span 2;
    padding: 30px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 3%;
}

.first-p{
    color: hsl(0, 0%, 100%);
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 1.2rem;
}

.third-card .first-p , .fifth-card .first-p{
    color: hsl(217, 19%, 35%);
}

.second-p{
    color: hsl(0, 0%, 81%);
    line-height: 1.2rem;
}

.third-card .second-p, .fifth-card .second-p{
    color: hsl(217, 19%, 35%);
}

.attribution {
    text-align: center; 
    margin-top: 25px;
    padding: 20px; 
    grid-column: 1 / -1; 
}

@media (max-width: 327px){

    body{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .container{
        margin-top: auto;
        display: flex;
        flex-direction: column;
    }

    .first-card{
        position: relative;
    }

    .first-card .quote{
        position: absolute;
        top: 0px;
        right: 5%;
        height: 80px
    }

    .first-card, .second-card, .third-card, .fourth-card, .fifth-card {
        padding: 15px;
        font-size: 0.5rem; 
        word-wrap: break-word; 
        overflow-wrap: break-word;
        box-sizing: border-box;
    }

    .first-p{
       font-size: 0.7rem;
    }
}

@media (min-width: 328px) and (max-width: 900px){
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .container{
        display: flex;
        flex-direction: column;
        width: 300px;
        margin-top: 300px;
    }

    .first-card{
        position: relative;
    }

    .first-card .quote{
        position: absolute;
        top: 0px;
        right: 5%;
        height: 80px
    }

    .first-card, .second-card, .third-card, .fourth-card, .fifth-card {
        padding: 15px;
        font-size: 0.5rem; 
        word-wrap: break-word; 
        overflow-wrap: break-word;
        box-sizing: border-box;
    }

    .first-p{
       font-size: 0.7rem;
    }

    .attribution {
        text-align: center; 
        margin-top: 25px;
        padding: 20px; 
    
    }
}

